[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jobspy = "*"
openai = "*"
flask = "*"
gunicorn = "*"
asyncio = "*"
requests = "*"
python-dotenv = "*"
redis = "*"
watchdog = "*"
celery = {extras = ["eventlet"], version = "*"}
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.10"
